@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}




nav {
    border-bottom: 1px solid purple;
    background-color: #2a134d;
    display: flex;
    justify-content: space-between;
    padding: 34px;
    color: white;
    align-items: center;
}

.linear {
    background: linear-gradient(#F7E93F , #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav>.nav-list {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 300;
}

.nav-list>p:hover {
    cursor: pointer;
    color: plum;
}

.btn-1 {
    max-width: 135px;
    background: linear-gradient(#ddd9a8 , #FB09B4, #9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    font-size:16px;
}

.btn-1:hover {
    cursor: grab;
    background:linear-gradient(#53502c , #ff5dce, #522d6d)
}

.hamburger {
    display: none;
}

.banner-section {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    
}

.circle {
    height: 450px;
    width: 450px;
    margin-bottom: 40px;
    position: absolute;
    top: 12%;
    left: 39%;
}

.mic {
    width: 125px;
    position: absolute;
    top: 25%;
    left: 47.7%;
}



.tooltip {
    position: absolute;
    width: 75px;
    height: 30px;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 5px 16px;
    text-align: center;
    top: 15%;
    left: 56.5%;
}

.banner-title {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    margin-left: 90px;
    padding-top: 640px;
}

.banner-p {
    color: rgba(255, 255, 255, 0.575);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 90px;
    margin-top: 8px;
}

.banner-section>.banner-buttons {
  margin-left: 840px;
  margin-top: 24px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-2 {
    background: linear-gradient(#F7E93F , #FB09B4, #9100F8);
    color: white;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 12.5px 12.5px 20px;
    border-radius: 1000px;
}

.btn-2:hover{
    background:linear-gradient(#53502c , #ff5dce, #522d6d);
    cursor: pointer;
}


.btn-3 {
    border: 1px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    padding: 12.5px 20px;
    border-radius: 1000px;
}

.btn-3:hover {
    cursor: grab;
    background-color: #82dab18a;
}

.about-podcast {
    color: white;
    background-color: #1A0B2E;
    text-align: center;
    padding-top: 50px;
}

.about-podcast-title {
    margin-bottom: 16px;
    margin-left: 90px;
    font-size: 38px;
    font-weight: bold;
}

.about-podcast-p {
    font-size: 16px;
    font-weight:400;
    margin-left: 90px;
    color: rgba(255, 255, 255, 0.575);
    padding-bottom: 80px;
}

.podcast-number-section {
    background-color: #1A0B2E;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #00FF88;
    border-top: 1px solid rgba(128, 128, 128, 0.205);
    padding-top: 80px;
    margin-right: 240px;
    margin-left: 240px;
    text-align: center;
    padding-bottom: 120px;
}

.nh {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 16px;
}

.pnp, .card-p, .card1-p, .card2-p, .card3-p, .host-p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.575);
}

.choose-section {
    background-color: #230E3D;
}

.choose-siction-title{
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 350px;
    margin-right: 350px;
    gap: 30px;
}

.glow, .card-title {
    margin-bottom: 16px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.card-title0{
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
 }


.audio {
    grid-row: span 2;
    color: white;
    background-color: #2a134d;
    height: 480px;
    width: 380px;
    padding: 107px 40px ;
    border-radius: 40px;
    margin-bottom: 30px;
}

.interviews {
    grid-column: span 2;
    color: white;
    background-color: #2a134d;
    height: 273px;
    width: 790px;
    padding: 55px;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 120px;
}

.mobile {
    grid-column: span 2;
    color: white;
    background-color: #2a134d;
    height: 225px;
    width: 790px;
    padding: 55px;
    border-radius: 40px;
}

.community {
    grid-column: span 2;
    color: white;
    background-color: #2a134d;
    height: 225px;
    width: 790px;
    padding: 55px;
    border-radius: 40px;
    margin-bottom: 30px;

}

.resources {
    color: white;
    background-color: #2a134d;
    height: 273px;
    width: 380px;
    padding: 55px;
    border-radius: 40px;
}

.featured-episodes-section {
    background-color: #1A0B2E;
}

.section-title, .host-title {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 120px;
}

.episode-cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 120px;
}


.card1 {
    color: white;
    height: 325px;
    width: 340px;
    background-color: #250D44;
    border-radius: 30px;
}


.video1 iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card1-h {
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.card1-p{
    margin-bottom: 12px;
    margin-left: 24px;
}

.duration {
    color: #00ff88e0;
    margin-left: 24px;
    padding-bottom: 12px;
}

.card2 {
    color: white;
    height: 325px;
    width: 340px;
    background-color: #250D44;
    border-radius: 30px;
}


.video2 iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card2-h {
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.card2-p{
    margin-bottom: 2px;
    margin-left: 24px;
}


.card3 {
    color: white;
    height: 325px;
    width: 340px;
    background-color: #250D44;
    border-radius: 30px;
}


.video3 iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card3-h {
    margin-top: 24px;
    margin-bottom: 12px;
    margin-right: 24px;
    margin-left: 24px;
}

.card3-p{
    margin-bottom: 3px;
    margin-left: 24px;
}


.host-title {
    padding-bottom: 40px;
}

.host-card{
    color: white;
    background-color: #220f3f;
    display: flex;
    height: 280px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
    padding-left: 40px;
    border-radius: 40px;
    position: relative;
    margin-bottom: 120px;
}

.host-h {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.host-socials{
    position: absolute;
    top: 423%;
    left: 32%;
}

.radius {
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: px;
}

.radius:hover {
    background: linear-gradient(#e6d83f , #f58fd6, #722da3);
    cursor: pointer;
}





footer {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.footer-title>h1 {
    color: white;
    font-size: 68px;
    text-align: center;
    padding-top: 120px;
}


.socials {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
}

.socials>p {
    font-size: 16px;
    font-weight: 400;
}


.spotify {
    display: flex;
    gap: 5px;
    color: rgba(255, 255, 255, 0.575);
}

.spotify:hover {
    cursor: pointer;
    color: plum;
}


.ap {
    display: flex;
    gap: 5px;
    color: rgba(255, 255, 255, 0.575);
}

.ap:hover{
    cursor: grab;
    color: plum;
}
.yt {
    display: flex;
    gap: 5px;
    color: rgba(255, 255, 255, 0.575);
}

.yt:hover {
    cursor: grabbing;
    color: plum;
}


.x {
    display: flex;
    gap: 5px;
    color: rgba(255, 255, 255, 0.575);
}

.x:hover {
    cursor: pointer;
    color: plum;
}

.copy {
    color: rgba(255, 255, 255, 0.575);
    text-align: center;
    margin-top: 32px;
}





@media screen and (max-width:576px) {

    nav>.nav-list {
    display: none;
}
 .btn-1 {
     display: none;
 }

 .hamburger {
    display: inline;
    align-items: center;
    justify-content: center;
 }

  .banner-section {
    height: 65vh;
    position: relative;
    
}

.circle {
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
    position: absolute;
    top: 12%;
    left: 17%;
}

.mic {
    width: 78px;
    position: absolute;
    top: 26.5%;
    left: 43%;
}

.tooltip {
    position: absolute;
    width: 75px;
    height: 30px;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 5px 16px;
    text-align: center;
    top: 14%;
    left: 66%;
    
    
}




.banner-title {
    font-size: 28px;
    padding-top: 380px;
    margin-left: 20px;
}

.banner-p {
    margin-left: 20px;
}

.banner-section>.banner-buttons {
  margin-left: 70px;
  margin-top: 35px;
  padding-bottom: 40px;
}

.about-podcast-title {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}

.about-podcast-title {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}

.about-podcast-p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    padding-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 40px;
}

.nh {
    margin-bottom: 20px;
}

.pnp {
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.575);
}

.choose-siction-title{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 16px;

}

.card-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.audio {
    height: 287px;
    width: 400px;
    padding: 24px ;
    margin-bottom: 30px;
}

.interviews {
    height: 311px;
    width: 400px;
    padding: 24px;
    margin-bottom: 20px;
}

.mobile {
    height: 215px;
    width: 400px;
    padding: 24px;
    border-radius: 40px;
}

.community {
    height: 215px;
    width: 400px;
    padding: 24px;
    margin-bottom: 30px;

}

.resources {
    height: 215px;
    width: 400px;
    padding: 24px;
    margin-bottom: 40px;
}

.episode-cards {
    flex-direction: column;
    margin-left: 50px;
    padding-bottom: 4px;
}

.host-card{
    display: flex;
    flex-direction: column;
    height: 483px;
    width: 400px;
    padding-top: 8px;
    border-radius: 40px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

.host-socials{
    position: absolute;
    top: 528.5%;
    left: 32%;
}

.host-card-img {
    margin-right: 30px;
}

.host-h {
     padding-right: 24px;
}

.host-p {
    padding-right: 24px;
    padding-top: 6px;
}




footer {
    height: 22vh;
}

.footer-title>h1 {
    color: white;
    font-size: 45px;
    text-align: center;
    padding-top: 30px;
}


.socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 24px;
}

.spotify {
    margin-left: 70px;
}

.ap {
    margin-right: 62px;
}

.yt {
    margin-left: 113.5px;
}

.x {
    margin-left: 20px;
}

.copy {
    margin-top: 15px;
}


 
}